.heading { 
    height: 200px;
 }
 
 .name { 
   font-family: trebuchet ms, sans-serif;
   font-size:75px; 
   position: absolute;
   top:-20px; 
   left:320px;
 }

 .page { 
  font-family: trebuchet ms, sans-serif;
  font-size:50px; 
  position: absolute;
  top:-30px; 
  left:320px;
}



 
